body {
  background-color: #303842;
  color: white;
  font-family: "Open Sans", Roboto, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.main {
  background: hsla(19, 22%, 100%, 80%);
  margin: 0em 3em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 20em;
  margin: 0.5em;
  padding: 0.5em;
  background: white;
  color: black;
}
.input {
  display: inline-block;
  min-width: 2em;
  padding: 0em 0.2em;
  margin-right: 1em;
}
.project-link {
  display: inline-block;
  padding: 0em 0.2em;
  margin-right: 1em;
}
.project-image {
  width: 20em;
  height: 20em;
  object-fit: contain;
  background: #303842;
}
h3 {
  margin-top: 0.25em;
  margin-bottom: 0em;
}
.busy {
  cursor: wait;
}
h1 {
  color: #303842; 
}
#intro-card {
  order: -100;
}
.wrapper {
  padding: 2em; 
}
a {
  color: #303842;
}
a:hover {
  color: orange;
}