@font-face {
  font-family: Majesti-Banner;
  src: url("../fonts/majesti-banner/Majesti-Banner-Book.otf") format("opentype");
}

@font-face {
  font-family: Majesti-Banner;
  font-weight: bold;
  src: url("../fonts/majesti-banner/Majesti-Banner-Bold.otf") format("opentype");
}

html {
  text-align: center;
  padding: 1em;
}

#logo-container {
  width: 400px;
  height: 120px;
  margin-top: 5vh;
  background-image: url("../images/town_logo.jpg");
  display: inline-block;
}

#logo-fallback, h1, h2, h3 {
  font-family: Majesti-Banner, Georgia;
}

#logo-fallback {
  display: none;
}

h1 {
  font-size: 3rem;
  color: #8a8c8f;
  font-variant: small-caps;
}

h2, h3 {
  width: 100%;
  padding: 1rem 0 0.1rem 0;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid #8a8c8f;
}

.page-content {
  max-width: 1000px;
  margin: 4em auto 2em auto;
}

.menu-list {
  width: 25em;
  display: inline-block;
  line-height: 2em;
}

.menu-item {
  float: left;
}

.menu-price {
  float: right;
}

section {
  margin-bottom: 15vh;
}

section p {
  margin: 0 5vw 1rem 5vw;
  text-align: justify;
}

blockquote {
  border: 2px solid #8a8c8f;
  margin: 1em;
  padding: 1em;
  font-style: oblique;
}

.full {
  display: block;
  width: 100%;
}

.image-credit {
  display: block;
  text-align: right;
  position: relative;
  font-size: 0.8rem;
  top: -1.2rem;
  left: 0;
  color: #41393d;
}

.image-credit a:link, .image-credit a:visited, .image-credit a:active {
  background-color: rgba(255, 255, 255, 0.5);
  color: inherit;
  padding: 0.3rem 0.6rem;
  text-decoration: none;
  transition-duration: 0.7s;
}

.image-credit a:hover,
.image-credit a:focus-within {
  color: black;
  background-color: #d7e4c2;
}

nav ul {
  padding-left: 0;  /* removes the list offset */
  list-style: none; /* removes the bullet-points */
  margin: 1rem 0 1rem 0;
}

nav a {
  color: black;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: Majesti-Banner;
  text-decoration: none;
  transition-duration: 0.7s;
}

nav li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav a:hover,
nav a:focus-within {
  background: #d7e4c2;
}

a.selected, li.selected {
  color: #8a8c8f;
  cursor: default;
  pointer-events: none;
}

address {
  width: 100%;
  border-top: 1px solid #8a8c8f;
  margin: 2rem 0 0 0;
  padding: 1rem 0;
  color: #8a8c8f;
}

address a {
  color: #41393d;
  text-decoration: none;
}

address p {
  display: inline-block;
  padding: 0.5rem 2vw;
  margin: 0;
}

form {
  text-align: left;
  line-height: 2em;
  margin: 0 5vw;
}

fieldset {
  margin: 1rem;
}

.indented {
  margin-left: 2em;
}

#map, .photo-splash {
  margin-left: auto;
  margin-right: auto;
}

.photo-splash {
  max-width: 1000px;
}

#map {
  height: 95vh;
  border: 0;
}

@keyframes splashEntry {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* accessibility support added according to https://www.w3.org/WAI/WCAG21/Techniques/css/C39 */
@media (prefers-reduced-motion: reduce) {
  .image-credit a {
    transition-duration: 0s;
  }
  nav a {
    transition-duration: 0s;
  }
}
