body{
  background: black;
  font-family: 'Source Code Pro';
  color: white;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
  stroke-width: .5;
  stroke: currentColor;
}
.hide {
  stroke: none !important;
  fill: none !important;
  display: none;
}
text {
  fill: currentColor;
  stroke: none;
}
