body {
  background: hsl(220,30%,20%);
  font-family: 'Source Code Pro';
  color: white;
}
svg {
  position: absolute;
  background: hsl(210,70%,20%);
  top: 0;
  left: 0;
  fill: none;
  stroke-width: 0.5;
  stroke: currentColor;
}
.hide {
  stroke: none !important;
  fill: none !important;
  display: none;
}
text {
  fill: currentColor;
  stroke: none;
}
