
div {
  display: inline-block;
  vertical-align: top;
  color: purple;
  border: 1px dotted purple;
  margin: 5px;
}
label {
  padding-left: .5em;
}
input {
 height: 1.2em;
 width: 30%;
}
textarea {
  line-height: 1.3em;
}
button {

}
button.small {
  font-size: .6em;
  vertical-align: top;
}
.code {
  style="font-size:.7em;
  font-family:monospace;
  width:98%;
}
#preview {
  font-size: 11em;
  height: 1em;
}
svg {
  border: 1px solid purple;
  height: 1em;
}
